<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>

<body>
    <div layout:fragment="section">
        <h2>Account Dashboard</h2>

        <div sec:authorize="isAuthenticated()">
            Logged user: <span sec:authentication="name">Bob</span>
            Roles: <span sec:authentication="principal">[ROLE_USER, ROLE_ADMIN]</span>
        </div>

        <div sec:authorize="!isAuthenticated()">
            <h5>Anonymous</h5>
        </div>
    </div>
</body>
</html>